// Bootstrap の読み込み
@import "~bootstrap/scss/bootstrap";

body {
  font-family: 'Figtree', sans-serif;
  background: url('/images/kanegahama.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}
